<connectionStrings>
    <add name="Application.DBCnn" connectionString="server=sunflower.arvixe.com; initial catalog=SIAQDB; User=SIAQAppUsr; password=siaq@2014"/>
    <add name="Conn" connectionString="Database=SIAQDB; Server=sunflower.arvixe.com; User=SIAQAppUsr; Password=siaq@2014;" providerName="System.Data.SqlClient"/>
</connectionStrings>
