# git ignore file
SIAQ.BusinessProcess/bin/
SIAQ.BusinessProcess/obj/
SIAQ.DataAccess/bin/
SIAQ.DataAccess/obj/
SIAQ.Entity/bin/
SIAQ.Entity/obj/
SIAQ.Web/SIAQ.Web.Publish.xml
SIAQ.Web/bin/
SIAQ.Web/obj/
SolSIAQ.sln
SolSIAQ.suo
