/* General*/
html, body, form
{
	background: #fff url(../Include/Image/Background/HandsBackgorund.jpg) no-repeat center;
	color: #27245D;
	background-size: cover;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,Sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.GCSoft{
	border:0px solid #000000;
	bottom:5px;
	height:50px;
	left:10px;
	position:fixed;
	width:138px;
	z-index:800;
}

.Header{
	border: 0px solid;
	height:104px;
	width:100%;
}

/* ApplicationLogin.MasterPage */
.Login {
	background-color:#FFFFFF;
	border: 0px solid #549CC6;
	clear: both;
	height:122px;
	margin:100px auto;
	position:relative;
	width:310px;
}
