<appSettings>
	<add key="Application.Repository" value="C:\Ruben\GitHub\CEDHNL\SIAQ.Web\Files\" />
  <add key="Application.Mail.Contact" value="r.cobos@yahoo.com.mx" />
	<add key="Application.SessionTimeout" value="30" />
  <add key="Application.URL" value="www.setup.com" />
  <add key="Application.Url.DetalleCiudadano" value="/Application/WebApp/Private/Operation/opeDetalleCiudadano.aspx" />
  <add key="Application.Url.Handler" value="/Include/Handler/" />
  <add key="Application.Url.Icon" value="/Include/Image/Icon/" />
  <add key="Application.Url.RegistroCiudadano" value="/Application/WebApp/Private/Operation/opeRegistroCiudadano.aspx" />
  <add key="Application.Url.RegistroVisita" value="/Application/WebApp/Private/Operation/opeRegistroVisita.aspx" />
  <add key="aspnet:MaxHttpCollectionKeys" value="500000" />
  <add key="CrystalImageCleaner-AutoStart" value="true" />
  <add key="CrystalImageCleaner-Sleep" value="60000" />
  <add key="CrystalImageCleaner-Age" value="120000" />
	<add key="GCUtility.Communication.Mail.SmtpHost" value="mail.gmx.com"/>
	<add key="GCUtility.Communication.Mail.SmtpLogin" value="setup.staff@gmx.com"/>
	<add key="GCUtility.Communication.Mail.SmtpPassword" value="pkdtKLITD7GVkfBPVaGbwA%3d%3d"/>
	<add key="GCUtility.Communication.Mail.SmtpPort" value="587"/>
	<add key="GCUtility.Communication.Mail.SmtpSSL" value="True"/>
	<add key="GCUtility.Security.Encryption.CookieId" value="l%2fppZSv7mQw%3d"/>
	<add key="GCSoft.AUTH_DIR" value="9n4YNZkpmNZUgydDIpPYxA%3d%3d"/>
	<add key="GCSoft.CRYPTO_STATIC_KEY" value="ZpzztLqsWr0P3tkiHrjFag%3d%3d"/>
</appSettings>
