<connectionStrings>
   <add name="Application.DBCnn" connectionString="server=DELL-PC\SQLEXPRESS2008; initial catalog=SIAQDB; User=sa; password=SQL@2008_Usr"/>
   <!--<add name="Application.DBCnn" connectionString="server=ns1.allium.arvixe.com; initial catalog=SIAQDB; User=SIAQUser; password=usld88!34"/>-->
</connectionStrings>
